# MongoDB Connection String
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# JWT Secret Key
JWT_SECRET=your_jwt_secret_key_here

# Google OAuth Credentials
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# RAWG API Key
RAWG_API_KEY=your_rawg_api_key_here

# Server Configuration
PORT=5000
NODE_ENV=development
